.container {
    $userListSize: 27.5rem;
    display: grid;
    grid-template-columns: $userListSize 1fr;
    grid-template-areas: "container__left container__right" "container__left footer";
    block-size: $body-height;
    box-sizing: border-box;

    &__left {
        grid-area: container__left;
        background: $grey-3;

        .left__headder {
            padding-block: 1rem;
            padding-inline: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            background: $grey-4;

        }

        .left__chats {
            display: flex;
            flex-direction: column;
            padding-inline: 1rem;
            block-size: calc($body-height - 5rem);
            overflow-y: scroll;
            height: 80vh;

            &__search {
                background: $grey-3;
                padding-block: 1rem;
                position: sticky;
                top: 0;

                input {
                    border: none;
                    border-radius: 3.125rem;
                    padding-block: .75rem;
                    padding-inline-start: 5rem;
                    color: $grey;
                    width: 76%;

                }

                img {
                    position: absolute;
                    left: 2.5rem;
                    top: calc(50% - .75rem);
                    block-size: 1.5rem;

                }
            }

            &__conversation {
                padding-block: 1rem;
                border-bottom: 1px solid $grey-2;
                &:hover{
                    background-color: $grey-4;
                    transform: scale(.99);
                }

                .conversation__card {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    .imgUser{
                        height: 50px;
                        width: 100%;
                        object-fit: contain;
                    }

                    .card__user-chat {
                        border-radius: 50%;
                        inline-size: 3rem;
                        block-size: 3rem;
                    }

                    .card__info {
                        max-inline-size: 20.7rem;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        width: 100%;

                        &__top {
                            display: flex;
                            justify-content: space-between;

                            .userName {
                                font: body-16regular;

                            }

                            .date {
                                font: $caption-12regular;
                                color: $grey;
                                
                            }
                        }

                        &__bottom {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 0.25rem;

                            .info__message {
                                overflow: hidden;

                                span {
                                    font: $caption-12regular;
                                    color: $grey;
                                    display: block;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }

                        }
                    }
                }
            }

        }
    }

    &__right {
        grid-area: container__right;
        display: flex;
        flex-direction: column;
        block-size: 100vh;

        .header {
            max-block-size: 5rem;
            display: flex;
            justify-content: space-between;
            padding-inline: 1rem;
            padding-block: 1rem;
            background: $grey-4;
            border-left: 1px solid $grey;

            &__left {
                display: flex;

                .user {
                    background: $grey-4;
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    img {
                        border-radius: 50%;
                    }

                    p {
                        margin: 0;

                        span {
                            display: block;
                        }

                        .user-name {
                            color: $black;
                            font: $body-16regular;
                        }

                        .user-status {
                            color: $grey;
                            font: $caption-12regular;
                        }
                    }
                }
            }

            &__right {
                display: flex;

                .btn {
                    background: none;
                    border: none;
                }
            }

        }

        .message-list {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1.5rem;
            background-image: url(https://raw.githubusercontent.com/jennyquinto/Img/main/whatsapp-background.jpg);
            background-repeat: repeat;
            object-fit: cover;
            block-size: calc(100vh - 5rem);
            overflow: auto;
            flex-grow: 1;

            .message {
                background: white;
                font: $body-16regular;
                padding: .5rem;
                display: flex;
                flex-direction: column;
                gap: .25rem;
                position: relative;
            }

            .message-text {
                margin: 0;
            }

            .message.is-receiver {
                background-color: white;
                align-self: flex-start;
                border-radius: 0 .5rem .5rem .5rem;

                &::before {
                    content: '';
                    position: absolute;
                    inset-block-start: 0;
                    inset-inline-end: 100%;
                    background-image: url(https://raw.githubusercontent.com/jennyquinto/Img/6779d181dd0cee2c1340e76e95e3ca3e032791e1/Rectangle4w.svg);
                    inline-size: 10px;
                    block-size: 12px;
                }
            }

            .message.is-sender {
                background-color: $green-1;
                align-self: flex-end;
                border-radius: .5rem 0 .5rem .5rem;

                &::before {
                    content: '';
                    position: absolute;
                    inset-block-start: 0;
                    inset-inline-start: 100%;
                    background-image: url(https://raw.githubusercontent.com/jennyquinto/Img/6779d181dd0cee2c1340e76e95e3ca3e032791e1/Rectangle4.svg);
                    inline-size: 10px;
                    block-size: 12px;
                }
            }

            .message-date {
                font: $caption-12regular;
                color: $grey;
            }

            .message-status {
                inline-size: 1rem;
                block-size: 1rem;
            }

            // .message-status.is-dobleCheck {
            //     background-image: url(https://raw.githubusercontent.com/jennyquinto/Img/6779d181dd0cee2c1340e76e95e3ca3e032791e1/Whatsaap-check.svg);
            //     background-repeat: no-repeat;
            // }

            .message-details {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: .25rem;
            }

            .date {
                background: #E5F2FA;
                border-radius: .5rem;
                padding: .625rem;
                font: $body-16regular;
                align-self: center;
            }
        }

        .footer {
            block-size: 80px;
            background: $grey-4;
            padding-inline: 1rem;
            display: grid;
            grid-template-areas: "emoji paperclip input mic";
            grid-template-columns: 1.5rem 1.5rem 1fr 1.5rem;
            grid-template-rows: 1fr;
            align-items: center;
            gap: 1rem;

            & input {
                font: $body-16regular;
                border: none;
                border-radius: 3.125rem;
                padding-inline: 1.5rem;
                padding-block: .75rem;
                color: $grey;
                flex: 1;
            }

            & .emoji {
                grid-area: emoji;
                // border: 1px dashed darksalmon;
            }

            & .paperclipclip {
                grid-area: paperclip;
            }

            & .input {
                grid-area: input;
            }

            & .mic {
                grid-area: mic;
            }

            & form {
                display: flex;
                flex: 1;
            }
        }

        .btn {
            cursor: pointer;
            border: none;
            padding: 0;
            block-size: auto;
            inline-size: auto;
        }

        .btn:active {
            transform: scale(.95);
        }
    }
}