.container {
    $userListSize: 27.5rem;
    display: grid;
    grid-template-columns: $userListSize 1fr;
    grid-template-areas: "user-list chat" "user-list footer";
    block-size: $body-height;
    box-sizing: border-box;
    background-color: azure;

    &__left {
        grid-area: user-list;
        background: $green-3;

        &__header {
            padding-block: 1rem;
            padding-inline: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            background: $grey-4;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        block-size: 100vh;
    }
}

