//importar las font-sizes
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

// variables
// $font-headings: 'DM Serif Display';

$body-height: 100vh;
$body-width: 100vw;
$black: #000000;
$grey: #666667;
$grey-2: #f2f2f2;
$grey-3: #f6f6f6;
$grey-4: #ededed;
$white: #ffffff;
$green-1: #e1f7cb;
$green-2: #56bca6;
$red: #ff4a4a;
$green-3: #429488;
$blue: #5cb3f0;
$body-16regular: 400 1rem/1.25rem Inter;
$body-16bold: 700 1rem/1.25rem Inter;
$body-14regular: 400 0.875rem/1.125rem Inter;
$body-14regular_u: 500 0.875rem/1.25rem Inter;
$caption-12bold: 700 0.75rem/1rem Inter;
$caption-12regular: 400 0.75rem/1rem Inter;
$caption-12regular_u: 400 0.75rem/1.25rem Inter;

//importar partials o modules
@import 'universals';
@import 'signin';
@import 'home';

//general style to body
body {
  height: $body-height;
  width: $body-width;
}



//index(sign In) styles


//Functions
@function sizePages($t) {
  @return $t*$font-size-body;
}

// //importar partials o modules
// @import 'universals';

// //mixins: mezclas de propiedades reusables
// @mixin paddings ($t) {
//     padding: $t*1px $t*4px;
// }

// @mixin botones($s, $color-letters, $color-backg) {
//     @include paddings($s);
//     color: $color-letters;
//     @extend body;
//     font-weight: 700;
//     background-color: $color-backg;
//     border: 3px solid $color-letters;
//     cursor: pointer;

//     &:hover {
//         background-color: $color-letters;
//         color: $color-backg;
//     }

// }

// //Asignación de propiedades al body
// body {
//     font-family: $font-body;
//     font-size: $font-size-body;
// }

// //reglas anidadas
// .header {
//     color: $color-header;

//     &__nav {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         @include paddings(20);
//         background-color: $background-color-nav;
//     }

//     &__list {
//         list-style: none;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         gap: size(1);
//     }

//     &__item {
//         a {
//             text-decoration: none;
//             color: $color-links;
//             font-weight: 700;

//             &:hover {
//                 color: $color-btns;
//             }
//         }

//         button {
//             @include botones(5, $color-btns, $background-color-nav);
//         }

//         &--mobile {
//             display: none;
//         }
//     }

//     &__banner {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         gap: size(3);
//         background-color: $back-banner;
//         @include paddings(20);
//         position: relative;
//     }
//     &__patron-left{
//         position: absolute;
//         object-fit: contain;
//         left: 0;
//         top: 70%;
//     }
//     &__patron-right{
//         position: absolute;
//         object-fit: contain;
//         top: 0;
//         right: 0;
//     }

//     &__text {
//         width: 40%;

//         hr {
//             width: 25%;
//             margin-bottom: 30px;
//         }

//         h1 {
//             font-family: $font-headings;
//             font-size: size(3);
//         }

//         p {
//             margin: 20px 0;
//             line-height: 25px;
//         }

//         button {
//             @include botones(5, $background-color-nav, $back-banner);
//         }
//     }

//     &__img-banner {
//         width: 45%;

//         img {
//             width: 100%;
//             object-fit: cover;
//             transform: translateY(150px);
//         }
//     }
// }


// //Emplear media queries para diseño responsive
// @media screen and (max-width: 800px) {
//     .header {
//         &__item {
//             display: none;

//             &--mobile {
//                 display: block;
//             }
//         }

//         &__banner {
//             flex-direction: column-reverse;
//             padding: 0;
//         }

//         &__img-banner {
//             width: 100%;

//             img {
//                 transform: none;
//             }
//         }

//         &__text {
//             width: 90%;
//             text-align: center;
//             margin: 40px 0;
//             hr{
//                 display: none;
//             }

//         }
//     }
// }